
{% extends 'base.html.twig' %}

{% block title %}List of Authors{% endblock %}

{% block body %}
    <h1>List of Authors</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Picture</th>
                <th>Username</th>
                <th>Email</th>
                <th>Number of Books</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
        {% if author.id == id %}
            <tr>
                <td>{{ author.id }}</td>
                <td><img src="{{ asset(author.picture) }}" alt="{{ author.username }}" width="50" height="50"></td>
                <td>{{ author.username }}</td>
                <td>{{ author.email }}</td>
                <td>{{ author.nb_books }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

{% endblock %}